<p>I'm {{name.toUpperCase()}} and my age is {{age}}<br>
    and my salary is {{salary * 81}}
</p>
<!-- when ever you want to add a typescript inside the quotes or under the property of the tag than write the property under the square bracket -->
<!-- or you can use the button property value under the interpolation but this process is not recomended -->

<!-- property binding -->
<button [class]="btnColor" [disabled]="isDisable ">Click me</button><br><br>

<!-- Event binding -->

<button class="btn blue" (click)="converttoINR()">Show salary in INR</button>

<!-- now we start two way data binding -->

<input type="text" [value]="inputValue" (input)="getInput($event)"/>

<h2>{{inputValue}}</h2>